{% load staticfiles %}

<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Team Directory</title>
        <meta name="description" content="Shows a list of team members">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <main class="container">
            <header class="site-header">
              <h1>Team Directory</h1>
            </header>

            <p style="text-align:center">Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}.</p>

            <article class="person-grid">
                {% for person in current_page %}
                <section class="person-item">
                    <img src="{{ person.image }}" width="300" height="300" alt="{{ person.name }}">
                    <h2>{{ person.name }}</h2>
                    <h3>{{ person.title }}</h3>
                    <p><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
                </section>
                {% endfor %}
            </article>

            <nav class="pagination">
                <ul class="page-links">
                    {% if current_page.has_previous %}
                    <li class="nopagenumber"><a href="/{{ current_page.previous_page_number }}/">previous</a></li>
                    {% endif %}

                    {% for i in current_page.paginator.page_range %}
                        {% if current_page.number == i %}
                    <li class="pagenumber"><span class="active">{{ i }}<span class="visuallyhidden"> (current)</span></span></li>
                        {% else %}
                    <li class="pagenumber"><a href="/{{ i }}/">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if current_page.has_next %}
                    <li class="nopagenumber"><a href="/{{ current_page.next_page_number }}/">next</a></li>
                    {% endif %}
                </ul>
            </nav>

            <footer class="site-footer">
              <p>Team directory</p>
            </footer>
        <main>
    </body>
</html>
